DB_URL=jdbc:mysql://localhost:3306/dragon_community?serverTimezone=UTC&useSSL=false
DB_USERNAME=root
DB_PASSWORD=
DB_DRIVER=com.mysql.cj.jdbc.Driver

SERVLET_MULTIPART_MAX_FILE_SIZE=10MB
SERVLET_MULTIPART_MAX_REQUEST_SIZE=10MB

AWS_REGION=
AWS_S3_BUCKET=
AWS_S3_REPORT_PREFIX=reports
AWS_S3_PRESIGNED_URL_EXPIRATION_SECONDS=600
AWS_S3_MAX_REPORT_SIZE_BYTES=10485760
